<ul class="nav nav-tabs">
  <li role="presentation"><a href="/loggers">Loggers</a></li>
  <li role="presentation" class="active"><a href="/profile">Profile</a></li>
  <li role="presentation"><a href="/about">About</a></li>
</ul>

<br>
<p>Logged in as <blaze-template name="loginButtons"></blaze-template> </p>

<h2>My Projects</h2>

<ol ng-repeat="project in projects" class="breadcrumb">
  <li><a href="#">{{project.name}}</a></li>
  <li class="active">{{project._id}}</li>
</ol>

<p>Subscribe to existing project</p> 
<label>Key: </label>
<input ng-model="subscribedProject.key">
<button ng-click="subscribe()">Add</button>




<br><br><br><br>
<p>Subscribe to a project hosted on your own ftp server</p>
<input ng-model="remoteProject.server" placeholder="server"><br>
<input ng-model="remoteProject.username" placeholder="username"><br>
<input ng-model="remoteProject.password" placeholder="password"><br>
<input ng-model="remoteProject.path" placeholder="project root path"><br>
<button ng-click="subscribeRemote()">Add</button>


